<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c972eb">  <td>19/07/31 14:39:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:tbs_testcases.TestRunner@8d2700d3]">feature</td> 
  <td>main@-1906788225</td>   <td></td> </tr>
<tr bgcolor="c972eb">  <td>19/07/31 14:39:09</td>   <td>-1631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:tbs_testcases.TestRunner@8d2700d3]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1906788225</td>   <td></td> </tr>
<tr bgcolor="c972eb">  <td>19/07/31 14:41:57</td>   <td>166021</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:tbs_testcases.TestRunner@8d2700d3]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1906788225</td>   <td></td> </tr>
<tr bgcolor="65aba1">  <td>19/07/31 14:41:57</td>   <td>165941</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.writeExtentReport()[pri:0, instance:tbs_testcases.TestRunner@8d2700d3]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@-1906788225</td>   <td></td> </tr>
</table>
